body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #2D3748;
    color: #FFF;
    font-family: "Fira sans", sans-serif;
  }

  form {
    background-color: #374151;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  form input,
  form button {
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  form button {
    background-color: #EF4444;
    color: #FFF;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #FF6B6B;
  }
  
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #374151;
  }
  
  #header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  #logout-button {
    background-color: #EF4444;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #logout-button:hover {
    background-color: #FF6B6B;
  }
  
  a {
    text-decoration: none;
    color: #b6b4b4;
  }
  
  #nav-list {
    display: flex;
    margin-left: 20px;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 15px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .task-list {
    display: flex;
    flex-direction: column;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-color: #2D3748;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 1rem;
    transition: 0.4s;
  }
  
  .task:hover {
    background-color: #4A5568;
  }
  
  .task-icon-container {
    display: flex;
    gap: 20px;
  }
  
  .fa-circle-plus {
    margin: 15px;
    font-size: 3em;
    color: #EF4444;
  }
  
  .clicked.fa-square-check {
    color: #22C55E;
  }
  
  .fa-square-check:hover {
    cursor: pointer;
  }
  
  .fa-pencil:hover {
    color: #E2DF00;
    cursor: pointer;
  }
  
  .fa-trash:hover {
    cursor: pointer;
  }
  
  .fa-trash:hover {
    color: #EF4444;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .high-priority {
    background-color: #EF4444;
  }
  
  .med-priority {
    background-color: #FFD700;
  }
  
  .low-priority {
    background-color: #00D700;
  }
  
  .invisible {
    display: none;
  }
  
  nav > a.active {
    background-color: #2D3748;
  }
  
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  